[workspace]

members = [
    "extension",
    "crates/t-digest",
    "crates/hyperloglog",
]

[profile.dev]
panic = "unwind"

[profile.release]
panic = "unwind"
opt-level = 3
lto = "fat"
codegen-units = 1
debug = true
