# Trigger package workflows on release tagging
name: Build packages
on:
  push:
    tags:
    - "[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

jobs:
  package:
    env:
      GITHUB_TOKEN: ${{ secrets.API_TOKEN_GITHUB_PACKAGE }}
    runs-on: ubuntu-20.04
    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Debian and Ubuntu packages
        if: always()
        run: |
          gh workflow run toolkit-apt.yml -R timescale/release-build-scripts -r main -f version=${{ env.RELEASE_VERSION }} -f upload-artifacts=true

      - name: RPM packages
        if: always()
        run: |
          gh workflow run toolkit-rpm.yml -R timescale/release-build-scripts -r main -f version=${{ env.RELEASE_VERSION }} -f upload-artifacts=true

