name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version number for release'
        required: true
      commit:
        description: 'Commit id to branch from (default is HEAD of main)'
        type: string
        required: false
        default: main
      # TODO Make this harder to screw up by making a checkbox.
      dry-run:
        description: '-n for dry-run, -push to really release'
        type: string
        required: false
        default: -n

jobs:
  release:
    name: Release
    runs-on: ubuntu-20.04
    container:
      image: timescaledev/toolkit-builder:debian-11-amd64

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        ref: ${{ inputs.commit }}

    - name: chown Repository
      run: chown -R postgres .

    - name: Install dependencies not yet in image
      run: su postgres -c 'tools/release setup' 2>&1

    - name: Run tools/release
      env:
        GITHUB_TOKEN: ${{ secrets.API_TOKEN_GITHUB_PACKAGE }}
        ACTIONS_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: su postgres -c 'tools/release ${{ inputs.dry-run }} -version ${{ inputs.version }} ${{ inputs.commit }}' 2>&1
